.index-main {
  height: 600px;
  text-align: center;
  padding: 15% 0 20%;
  font-family: "Playfair Display", serif;
}

.main1 {
  background-color: white;
}
.main2 {
  background-color: black;
  color: white;
}
.main2 {
  background-color: white;
}

h1 {
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 7px;
}
h4 {
  font-weight: 500;
  font-size: 15px;
  padding-bottom: 15px;
}
u {
  font-size: 10px;
}
