.index-main {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 20% 0 10%;
  font-family: "Playfair Display", serif;
}

.main1 {
  color: white;
  text-decoration: underline;
  text-shadow: black 1px 1px;
  background-color: white;
  background-image: url("../css/picture/1.jpg");
  animation: defaultanimation 1.3s ease-in-out;
}

h1 {
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 7px;
}
h4 {
  color: white;
  font-weight: 500;
  font-size: 15px;
  padding-bottom: 15px;
  text-decoration: underline;
}
u {
  font-size: 10px;
}
