nav {
  margin: 0;
  padding: 0;
  height: 40px;
  width: 100%;
  position: fixed;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.9);
}
.navul {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  float: right; /* list를 가로로 정렬하게 하는 속성*/
  overflow: hidden;
}
.navli {
  font-weight: 600;
  text-align: center;
  padding-top: 11px;
  list-style: none;
}
.navli:hover {
  height: 100px;
  width: 54px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
}
.navhref {
  text-decoration: none;
  color: black;
}
.navhref_ul {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.navhref_li {
  padding-top: 5px;
  list-style: none;
  font-weight: 200;
}
.navhref_li_href {
  text-decoration: none;
  color: black;
  opacity: 0;
}

.navli:hover > .navhref_ul > .navhref_li > .navhref_li_href {
  text-decoration: none;
  color: black;
  opacity: 1;
  animation: defaultanimation 0.7s ease-in-out;
}
.navhref_li_href:hover {
  color: rgba(236, 130, 153, 0.9);
}
.navimg {
  height: 40px;
  float: left;
  clear: right;
}
