.reference-container {
  display: flex;
  width: 100vw;
  height: 600px;
  background-color: white;
  background: linear-gradient(to top, white 95%, transparent);
  padding-bottom: 10%;
}
.reference-contents {
  padding: 10%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: stretch;
}
.reference-title {
  text-decoration: underline;
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 10%;
}
table {
  vertical-align: middle;
  background-color: white;
  width: 80%;
  table-layout: fixed;
  margin: 0 auto;
  height: 20%;
}
.reference-container_tr {
  width: 70%;
  display: flex;
  justify-content: center;
}
.reference-container_td {
  width: 200px;
  height: 200px;
  padding-left: 3%;
  background-color: grey;
  text-align: center;
  display: table-cell;
  vertical-align: inherit;
}

.another-article {
  height: 600px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}
h2,
h5 {
  text-align: center;
  font-family: "Playfair Display", serif;
}
img {
}
.another-article-biggerp {
  font-size: 25px;
}
.another-article-smallerp {
  font-size: smaller;
}
