.reference-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 600px;
  background-color: white;
  background: linear-gradient(to top, white 95%, transparent);
  padding-bottom: 10%;
}
.reference-title {
  text-align: center;
  margin: 0 auto;
  padding-top: 10%;
}
.reference-contents {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.reference-title {
  text-decoration: underline;
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 10%;
}
.reference-table {
  vertical-align: middle;
  background-color: white;
  width: 80%;
  table-layout: fixed;
  margin: 0 auto;
  height: 20%;
}
.reference-container_tr {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.reference-container_td {
  width: 200px;
  height: 200px;
  padding-left: 3%;
  background-color: grey;
  text-align: center;
  display: table-cell;
  vertical-align: inherit;
}
