.container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.sub {
  padding-top: 15%;
  height: 500px;
  width: 100%;
  text-align: center;
  animation: defaultanimation 2s ease-in-out;
}

.sub1 {
  color: white;
  background-image: url("picture/장보아_배경파일2.png");
}
.sub2 {
  background-color: black;
  color: black;
  background-image: url("picture/sub-박시은.gif");
}
.sub3 {
  background-color: white;
}
.sub4 {
  background-color: white;
  color: black;
  background-image: url("picture/장보아_배경파일1.png");
}
.sub5 {
  background-color: white;
  height: 500px;
  width: 100%;
}
.sub6 {
  background-color: black;
  color: white;
}
h1 {
  font-weight: 700;
  padding-bottom: 3%;
}
h4 {
  padding-bottom: 0.5%;
}
h3 {
  font-size: 30px;
  font-weight: 550;
  padding-bottom: 3%;
}
p {
  padding-bottom: 0.1%;
}
u > a,
u {
  font-weight: 400;
  font-size: small;
  color: rgba(236, 130, 153, 0.9);
}

.bottom > h1 {
  color: black;
  text-decoration: none;
}

.sub:hover {
  box-shadow: inset 0px 0px 20px 20px rgba(0, 0, 0, 0.5); /* value값 입력할 때 n, n, n,... 이렇게 입력하지 말고 n n n...이렇게 입력해야함*/
}
.sub:hover > u > a {
  color: rgba(233, 74, 108, 0.9);
}
.sub:hover > u > a:hover {
  color: rgba(172, 20, 53, 0.9);
}
