.container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.sub {
  padding-top: 15%;
  height: 500px;
  width: 100%;
  text-align: center;
}
.sub1 {
  background-color: white;
  background-image: url("../css/picture/sub1.jpg");
  animation: backgroundanimation 1s;
}
.sub2 {
  background-color: black;
  color: white;
}
.sub3 {
  background-color: white;
}
.sub4 {
  background-color: black;
  color: white;
}
.sub5 {
  background-color: white;
}
.sub6 {
  background-color: black;
  color: white;
}
h1 {
  font-weight: 700;
  padding-bottom: 3%;
}
h4 {
  padding-bottom: 0.5%;
}
h3 {
  font-weight: 600;
  padding-bottom: 3%;
}
p {
  padding-bottom: 0.1%;
}
