.submagazine-body {
  background-image: url("picture/backgroundpaper.jpg");
}
.submagazine-nav {
  z-index: 5;
}

span {
  font-weight: 700;
}
main {
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.submagazine-main {
  padding: 20%;
}
.submagazine-main-title {
  text-align: center;
  font-weight: 700;
  padding-bottom: 20%;
  z-index: 1;
}

/*contentindex*/
.content-index {
  border-top: rgb(204, 204, 204) 1px solid;
  padding-bottom: 30px;
  margin-top: 10px;
}

.submagazine-main-content-index_table {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 35px;
  width: 1000px;
  background-color: rgba(0, 0, 0, 0.425);
}
.submagazine-main-content-index_table a {
  height: 35px;
  font-size: smaller;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-right: white 1px solid;
  padding-right: 3px;
}

.submagazine-main-content {
  padding-top: 7%;
  background-color: white;
  z-index: 3;
  padding: 5%;
}
p {
  padding: 10px 0;
  line-height: normal;
}
span {
  font-size: larger;
}
h1 {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 10%;
}
